<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Lista de Estudiantes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
   <body>
    <article th:fragment="listStudents" >
        <h2 style="text-align: center; margin-top: 20px">Libreta Estudiantil</h2>
        <table  class="table-container">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="libreta : ${libretas}">
                    <td class="actions-column" th:text="${libreta.estudiante.idEstudiante}"></td>
                    <td class="actions-column" th:text="${libreta.estudiante.apellido}"></td>
                    <td class="actions-column" th:text="${libreta.estudiante.nombre}"></td>
                    <td class="actions-column">
                        <a th:href="@{/detalleLibreta/}+${libreta.idLibreta}" class="btn" sec:authorize="hasRole('ROLE_USER')">
                        <i class="fa-solid fa-book"></i></i> Observar Libreta</a>
                        
                        <a th:href="@{/detalleLibreta/}+${libreta.idLibreta}" class="btn" sec:authorize="hasRole('ROLE_ADMIN')">
                            <i class="fa-solid fa-book"></i></i> Administrar Libreta</a>
                        
                        <form th:action="@{/eliminar-libreta/}+${libreta.idLibreta}" method="post">
                            <button type="submit" class="btn-delete">
                                <i class="fa-solid fa-trash"></i> Eliminar Libreta
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
    
    <article th:fragment="studentLibrary">
        <div class="tarjet-container">
            <div class="tarjet">
                <h1>[[${libreta.estudiante.nombre}]] [[${libreta.estudiante.apellido}]]</h1>
                <br>
                    <div style="display: flex;width: 100%">
                        <div>
                           <div>
                                <h5 style="text-align: justify">Datos de los Estudiantes:</h5>
                                <h6 style="text-align: justify"> - Nivel: [[${libreta.estudiante.nivel}]]</h6>
                                <h6 style="text-align: justify"> - Edad: [[${libreta.estudiante.edad}]]</h6>
                                <h6 style="text-align: justify"> - Alergias: [[${libreta.estudiante.alergias}]]</h6>
                                <h6 style="text-align: justify"> - Condicion: [[${libreta.estudiante.condicion}]]</h6>
                            </div>
                            <br>
                                <div>
                                    <h5 style="text-align: justify">Datos de los Encargados:</h5>
                                    <h6 style="text-align: justify"> - Nombre del Encargado: [[${libreta.estudiante.encargado.nombre}]] [[${libreta.estudiante.encargado.apellido}]]</h6>
                                    <h6 style="text-align: justify"> - Télefono: [[${libreta.estudiante.encargado.telefono}]]</h6>
                                    <h6 style="text-align: justify"> - Correo Eléctronio: [[${libreta.estudiante.encargado.correo}]]</h6>
                                    <h6 style="text-align: justify"> - Dirección: [[${libreta.estudiante.encargado.direccion}]]</h6>
                                </div>
                        </div>
                        
                        <!-- Datos Generales que se le muestran a los usuarios -->
                        <div style="margin-left: 25%" sec:authorize="hasAnyRole('ROLE_USER')">
                            <div class="observaciones-ver" > 
                                <h5 style="text-align: justify">Observaciones:</h5>
                                <h6 style="text-align: justify"> - [[${libreta.observaciones}]]</h6>
                            </div><br>                           
                                
                            <div>
                                <h6 style="text-align: justify" th:text="${libreta.asistencia} ? 'Presente' : 'Ausente'"/>
                            </div><br>
                                
                            <div>
                                <img style="align-content: justify" src="../img/dinobaby.png" alt="" width="180px" height="180px"/>
                            </div>
                        </div>  
                        
                        <!-- Formulario para Actualizar -->
                        <div style="margin-left: 25%" sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:object="${libreta}" th:action="@{/actualizar-libreta}" method="post">
                                
                                <input type="hidden" name="idLibreta" th:value="${libreta.idLibreta}">
                                
                                <textArea class="textarea-style" type="text" id="observaciones" name="observaciones" 
                                          placeholder="Ingrese las observaciones del estudiante"></textArea><br>

                                <div style="text-align: justify">
                                    <input type="checkbox" id="asistencia" name="asistencia"  value="1"> Asistencia<br>
                                    <input type="checkbox" id="asistencia" name="asistencia"  value="0"> Ausente<br>
                                </div><br>
                                <div style="text-align: justify">
                                    <input type="submit" value="Actualizar Libreta">
                                </div>
                            </form>                          
                        </div>                        
                    </div>
            </div> 
        </div>
    </article>
       
    <article th:fragment="listaEstudiantes">
        <h2 style="text-align: center; margin-top: 20px">Estudiantes Matricuados</h2>
        <table  class="table-container">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Nivel</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estudiante: ${estudiantes}">
                    <td class="actions-column" th:text="${estudiante.idEstudiante}"></td>
                    <td class="actions-column" th:text="${estudiante.nombre}"></td>
                    <td class="actions-column" th:text="${estudiante.apellido}"></td>
                    <td class="actions-column" th:text="${estudiante.nivel}"></td>
                    <td class="actions-column" th:text="${estudiante.encargado.correo}"></td>
                    <td class="actions-column" th:text="${estudiante.encargado.telefono}"></td>
                    <td class="actions-column">
                        <a th:href="@{/detalleEstudiante/}+${estudiante.idEstudiante}" class="btn">
                        <i class="fa-solid fa-pen"></i> Actualizar Datos</a>
                        
                    </td>   
                </tr>
            </tbody>
        </table>
    </article>
       
    <article class="article-matri" th:fragment="detalleEstudiantes">
        <form class="form-matri" th:object="${estudiante}" th:action="@{/actualizar-estudiante}" method="post">
                <h2>Actualizar Cambios</h2>
                <div style="display: flex;">
                    <div style="padding-right: 100px">
                        <input class="input" type="hidden" name="idEncargado" th:value="${estudiante.encargado.idEncargado}">
                        
                        <label for="nombreEn">Nombre del Encargado</label>
                        <input class="input" type="text" id="nombreEn" name="nombreEn" th:value="${estudiante.encargado.nombre}"><br>

                        <label for="apellidoEn">Apellido del Encargado</label>
                        <input class="input" type="text" id="apellidoEn" name="apellidoEn" th:value="${estudiante.encargado.apellido}" ><br>

                        <label for="telefono">Telefono de Emergencia</label>
                        <input class="input" type="text" id="telefono" name="telefono" th:value="${estudiante.encargado.telefono}"><br>

                        <label for="correo">Correo Electronico</label>
                        <input class="input" type="email" id="correo" name="correo" th:value="${estudiante.encargado.correo}"><br>

                        <label for="direccion">Dirección del Hogar</label>
                        <input class="input" type="text" id="direccion" name="direccion" th:value="${estudiante.encargado.direccion}"><br>
                        
                    </div>
                    
                    <div>
                        <input type="hidden" name="idEstudiante" th:value="${estudiante.idEstudiante}">
                        
                        <label for="nombreEst">Nombre del Estudiante</label>
                        <input class="input" type="text" id="nombreEst" name="nombreEst" th:value="${estudiante.nombre}"><br>

                        <label for="apellidoEst">Apellido del Estudiante</label>
                        <input class="input" type="text" id="apellidoEst" name="apellidoEst" th:value="${estudiante.apellido}"><br>

                        <label for="nivel">Nivel del Estudiante</label>
                        <input class="input" type="text" id="nivel" name="nivel" th:value="${estudiante.nivel}"><br>

                        <label for="alergias">Alergias que padezca</label>
                        <input class="input" type="text" id="alergias" name="alergias" th:value="${estudiante.alergias}"><br>

                        <label for="condicion">Condicion Especial</label>
                        <input class="input" type="text" id="condicion" name="condicion" th:value="${estudiante.condicion}"><br>
                        
                        <label for="edad">Edad del Estudiante</label>
                        <input class="input" type="number" id="edad" name="edad" th:value="${estudiante.edad}"><br>
                                
                        <input class="input" type="submit" value="Guardar Cambios">
                    </div>
                </div>
            </form>
    </article>
</body> 
</html>

