<!DOCTYPE html>
<html>
    <head th:fragment="head">
        <title>Registrar Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <article th:fragment="register">
            <form th:action="@{/crear-usuario}" method="post">
                <h2 style="text-align: center">Crear Nuevo Usuario</h2>
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" placeholder="ingrese su nombre de usuario" required><br>

                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="ingrese su contraseña" required><br>

                <label for="correo">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" placeholder="ingrese su correo electronico" required><br>

                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" placeholder="ingrese su numero de telefono" required><br>
                
                <label for="userRol">Rol:</label>
                <select id="userRol" name="userRol" required>
                    <option value="ROLE_USER">Usuario</option>
                    <option value="ROLE_ADMIN">Administrador</option>
                </select><br>

                <div class="checkboxRegister">
                    <label for="estado">Estado:</label>
                    <input type="checkbox" id="estado" name="estado" value="1"><br>
                </div>
                <input type="submit" value="Crear Usuario">
                <div  style="background-color:blueviolet;
                    border-radius: 10px;padding: 5px;font-size: 15px;color: white"
                    th:if="${param.exito}">El Usuario se ha creado exitosamente!
                    
                </div>
                <a class="a-login" href="/login">Iniciar Sesión</a>
            </form>
             
        </article>
    </body>
</html>
